@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
	font-family: "Lato";
	color: #424551;
	background-color: #fedcd1;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
/* ============================ */

/* Обмежуючий контейнер */
[class*="__container"]{
	max-width: 1218px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* ============================ */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 100;
}
.header__container {
	display: flex;
	align-items: center;
	gap: 60px;
}
.header__menu {
	flex-grow: 1;
}
.menu__items {
	display: flex;
	column-gap: 40px;
	row-gap: 10px;
	flex-wrap: wrap;
}
.menu__link {
	font-weight: 700;
	line-height: 160%;
}
.menu__link:hover {
	text-decoration: underline;
}

.header__login {
	display: flex;
	align-items: center;
	gap: 64px;
	flex-wrap: wrap;
	flex-shrink: 0;
}
.header__button:hover span {
	text-decoration: underline;
}
.header__register {
	position: relative;
}
.header__register::before {
	content: "";
	background: url('../img/icons/Profile.svg') 0 0 no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: -28px;
}
.header__register:hover span {
	text-decoration: underline;
}
/* ============================ */
.page__container {
	position: relative;
	z-index: 2;
}
.content {
	display: flex;
	flex-direction: column;
	padding: 212px 0 80px 0;
	column-gap: 180px;
}
.content__top {
	display: flex;
}
.content__top:not(:last-child) {
	margin-bottom: 189px;
}
.block-content {
	display: flex;
	flex-direction: column;
}
.block__play {
	display: flex;
	align-items: center;
	column-gap: 16px;
}
.block__play:not(:last-child) {
	margin-bottom: 40px;
}
.block__icon {
	position: relative;
	z-index: 3;
}
.block__icon::before {
	content: "";
	background-color: #f6bcb0;
	width: 84px;
	height: 84px;
	display: inline-block;
	border-radius: 50%;
	animation: motion 2s infinite ease;
	position: absolute;
	top: -15px;
	left: -16px;
	z-index: -1;
}
@keyframes motion {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.block__text {
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: #1E212C;
}
.block__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
	color: #1E212C;
	max-width: 496px;
}
.block__title:not(:last-child) {
	margin-bottom: 60px;
}
.block__buttons {
	display: flex;
	column-gap: 24px;
	row-gap: 10px;
	flex-wrap: wrap;
}
.block__illustration {
	max-width: 107.8%;
	transform: translate(7.8%, 0px);
	position: relative;
	top: 0;
	left: 100px;
}
.content__buttom {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	justify-content: space-between;
}
.elements {
	display: flex;
	align-items: center;
	gap: 12px;
}
.elements__number {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	padding-right: 12px;
}
.elements__text {
	line-height: 160%;
	color: #1E212C;
}
.elements__circle {
	border-radius: 50%;
	flex: 0 0 8px;
	height: 8px;
	background: #FF3F3A;
}
.page__decor {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor-item {
	position: absolute;
}
.decor-item--1 {
	background: url('../img/dekor/1.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 12.3%;
	left: 4.2%;
}
.decor-item--2 {
	background: url('../img/dekor/2.svg') 0 0 no-repeat;
	width: 284px;
	height: 284px;
	bottom: 41%;
	left: -5.5%;
}
.decor-item--3 {
	background: url('../img/dekor/3.svg') 0 0 no-repeat;
	width: 88px;
	height: 47px;
	top: 23.5%;
	left: 41%;
}
.decor-item--4 {
	background: url('../img/dekor/4.svg') 0 0 no-repeat;
	width: 61px;
	height: 61px;
	top: 38%;
	left: 38%;
}
.decor-item--5 {
	background: url('../img/dekor/1.svg') 0 0 no-repeat;
	width: 110px;
	height: 110px;
	top: -3%;
	right: 5%;
	transform: rotate(135deg);
}
.decor-item--6 {
	background: url('../img/dekor/5.svg') 0 0 no-repeat;
	width: 187px;
	height: 137px;
	top: 38%;
	right: -1.5%;
}
.decor-item--7 {
	background: url('../img/dekor/6.svg') 0 0 no-repeat;
	width: 181px;
	height: 132px;
	top: 67%;
	left: -4%;
	transform: rotate(90deg);
}
.decor-item--8 {
	background: url('../img/dekor/7.svg') 0 0 no-repeat;
	width: 287px;
	height: 287px;
	top: 76%;
	right: -9%;
}
/* ============================ */
.second-page {
	background-color: #ffffff;
}
.second-page__container {
	display: flex;
	gap: 135px;
	padding: 180px 0;
}
.second-page__image img {
	min-width: 100%;
}
.block-second-page {
	display: flex;
	flex-direction: column;
}
.block-second-page__title {
	margin-bottom: 40px;
}
.block-second-page__list {
	margin-bottom: 22px;
}
